.contenido {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

* {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #000;
}

/*ENCABEZADO*/
.header {
  width: 100%;
  height: 100px;
  background-color: #000;
  padding-top: 32px;
}

.wrapp {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.h1 {
  width: 170px;
  margin-left: 25px;
}

.h1 img {
  width: 170px;
}

.h2 {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding-bottom: 60px;
}

.h2 h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
}

.header p {
  width: 200px;
  font-size: 15px;
  height: 40px;
  background-color: #C51813;
  font-family: sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.header p a {
  line-height: auto;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: all 300ms;
}

.header p a:hover {
  color: #000000;
}

/*FIN DEL ENCABEZADO*/
/*INICIO DEL NAV*/
.nav {
  width: 100%;
  height: 60px;
  background-color: #FC2100;
  font-family: sans-serif, Helvetica, Arial;
  box-shadow: 0px 0px 2px gray;
}

.nav ul {
  width: 1340px;
}

.nav ul li {
  display: inline-block;
  line-height: 57.5px;
  height: 60px;
  transition: all 300ms;
  border-right: 1px solid #000;
  text-align: center;
  align-items: center;
}

.nav > ul > li:first-child {
  border-left: 1px solid #000;
}

.nav ul li a {
  padding: 30px;
  text-decoration: none;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 0 #7A7A7A;
  transition: all 300ms;
  text-transform: uppercase;
}

.nav ul li a:hover {
  color: rgb(85, 71, 71);
}

/*FIN DEL NAV*/
/*INICIO DE CONTENIDO INDEX.HTML*/
.contenido {
  width: 100%;
  margin-bottom: 300px;
  height: 700px;
}

.section {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  grid-auto-rows: minmax(225px, auto);
  width: 86%;
  height: 700px;
  margin-top: 25px;
}

.contenido__1 {
  grid-column: 1/3;
  grid-row: 1;
  width: 460px;
  height: 460px;
}

.contenido__2 {
  grid-column: 3;
  grid-row: 1/2;
  width: 460px;
  height: 225px;
}

.contenido__3 {
  grid-column: 4/5;
  grid-row: 1/3;
}

.contenido__4 {
  grid-column: 1/3;
  grid-row: 3/4;
}

.contenido__5 {
  grid-column: 3/5;
  width: 460px;
  height: 460px;
  grid-row: 3/4;
}

.contenido__6 {
  grid-column: 4/5;
  grid-row: 3/5;
}

.contenido__1 img {
  width: 460px;
  height: 460px;
  object-fit: cover;
}

.contenido__2 img {
  width: 460px;
  height: 225px;
  object-fit: cover;
}

.contenido__3 img {
  width: 225px;
  height: 460px;
  object-fit: cover;
}

.contenido__4 img {
  width: 460px;
  height: 225px;
  object-fit: cover;
}

.contenido__5 img {
  width: 460px;
  height: 460px;
  object-fit: cover;
  margin-top: -233px;
}

.contenido__6 img {
  width: 225px;
  height: 225px;
  object-fit: cover;
}

/*FIN DE CONTENIDO INDEX.HTML*/
/*INICIO FOOTER*/
footer {
  width: 100%;
  padding: 50px 0px;
  background-size: cover;
  background-image: url(../img/background-footer.svg);
  margin-top: 25px;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .terms {
  max-width: 350px;
  font-family: sans-serif;
  font-weight: 500;
  color: #7a7a7a;
  margin-top: 10px;
  font-size: 18px;
}

.box__footer h3 {
  margin-bottom: 30px;
  color: #343434;
  font-weight: 800;
}

.box__footer a {
  text-decoration: none;
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.box__footer a:hover {
  opacity: 0.8;
}

.icons a {
  text-decoration: none;
  margin-top: 10px;
  color: #7a7a7a;
  font-weight: 600;
}

.icons div {
  display: inline-block;
  text-align: right;
}

.box__footer a i {
  text-align: center;
  justify-content: center;
  align-items: center;
  line-height: 40px;
  margin-right: 5px;
  background: #191919;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 40px;
  transition: all 200ms;
}

.box__footer a i:hover {
  background-color: #FC2100;
}

.box__copyright {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p {
  margin-top: 20px;
  color: #7a7a7a;
}

.box__copyright hr {
  border: none;
  height: 1px;
  background-color: #7a7a7a;
}

/*FIN DEL FOOTER*/
/*MEDIA QUERIS*/
/*PRODUCTOS.HTML*/
#layaut {
  min-height: 100vh;
  overflow: hidden;
}

.nav__bar {
  width: 100%;
  height: 121px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background-color: #ccc;
}

.nav__bart {
  background-color: #FE5000 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.nav__bar-1 {
  width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: stretch;
}

.link__rel img {
  width: 130px;
  margin-bottom: 16px;
}

.nav__flex li {
  width: 110px;
  height: 65px;
  text-align: center;
}

.active {
  display: block;
  transition: all 200ms;
  color: #fff !important;
}

.active__li {
  width: 106px;
}

.active:hover {
  color: #000 !important;
}

.active:focus {
  border-left: 6px solid #FC2100;
}

.nav__flex li a {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: #000;
  font-size: 23px;
  text-align: center;
}

#nav__item-1 {
  width: 110px;
}

.margin__1 {
  width: 110px;
  display: block;
  position: relative;
  right: 14px;
}

.nav__item-1 a {
  text-align: center;
}

.nav__flex li {
  margin-right: 5px;
  margin-left: 5px;
  width: 115px;
}

.nav__flex {
  display: flex;
  height: 121px;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: wrap;
}

.algo__mas-cont {
  width: 200px;
  height: 121px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.algo__mas {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #FC2100;
  justify-content: center;
  border-radius: 10px;
  transition: all 300ms;
}

.algo__mas:hover {
  background-color: #220F0F;
}

.algo__mas p {
  width: 200px;
  height: 40px;
}

.algo__mas p a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
  letter-spacing: 1px;
}

.algo__mas:hover > p > a {
  color: #fff;
}

.mcd__container {
  width: 100%;
  height: 884px;
}

.mcd__container-1 {
  width: 100%;
  height: 884px;
  padding-left: 134px;
  padding-right: 134px;
}

.mcd__container-nav {
  width: 1079px;
  height: 884px;
  padding-top: 40px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category__menu {
  width: 275px;
  height: 884px;
}

.category__menu-1 {
  width: 255px;
  height: 76px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07);
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  padding-left: 0;
  border-left: 6px solid #FC2100;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
  font-family: "Jost", sans-serif;
}

.category__menu-1:hover {
  color: #FC2100;
}

.category__menu-1 img {
  width: 75px;
  height: 56px;
}

.section__menu {
  width: 257px;
  height: 720px;
  margin-top: 30px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.07);
  border: 2px solid #e1e1e1;
  border-radius: 6px;
  overflow: hidden;
}

.section__menu-1 {
  width: 257px;
  height: 720px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  justify-content: center;
}

.section__menu-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80px;
}

.section__menu-2:active {
  border-left: 6px solid #FC2100;
}

.img__menu img {
  width: 75px;
  height: 56px;
  margin-left: 6px;
  margin-right: 12px;
}

.img__menu {
  text-decoration: none;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  padding-right: 6px;
  padding-left: 6px;
  text-align: center;
  color: #000;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: all 300ms;
}

.img__menu:hover {
  color: #FC2100;
}

.product__web {
  width: 804px;
  height: 834px;
  background-color: #F4F4F4;
}

.product__web-cont {
  width: 774px;
  height: 100px;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.product__web-h1 {
  width: 100%;
  height: 68px;
  color: #000;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  margin-bottom: 60px;
  margin-top: 0;
}

.nav__pedi {
  width: 807px;
  height: 507px;
  text-align: center;
}

.nav__pedi-1 {
  width: 807px;
  height: 507px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.empanada {
  width: 243px;
  height: 267px;
  margin-right: 15px;
  transition: all 300ms;
}

.empanada:hover {
  box-shadow: 0 0 0 0, 0 0 0 2px #FE5000;
}

.empanada:hover > a {
  color: #aaa;
}

.empanada__1 {
  width: 228px;
  height: 237px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #292929;
  text-decoration: none;
  font-size: 17px;
  font-family: "Jost", sans-serif;
  font-weight: 600;
}

.empanada__2 {
  width: 213px;
  height: 183px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.empanada__2 img {
  width: 213px;
  height: 160px;
  text-align: center;
  margin-bottom: 9px;
}

.footer__adobe {
  background-image: none;
  padding: 20px 50px;
  position: relative;
  width: 100%;
  background-color: #A5A5A5;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
}

.ul__adobe,
.ul__adobe-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.ul__adobe li {
  padding-top: 20px;
}

.ul__adobe li a i {
  font-size: 1.5em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.ul__adobe li a i:hover {
  transform: translateY(-10px);
}

.ul__adobe-1 li a {
  text-decoration: none;
  font-size: 1.2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: #234669;
  opacity: 0.75;
}

.ul__adobe-1 li a:hover {
  opacity: 1;
}

.linea__adobe {
  width: 100%;
}

.linea__adobe p {
  text-align: center;
  color: #fff;
}

.linea__adobe hr {
  height: 1px;
  color: #fff;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(../img/wave.png);
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animateWave_02 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
/*MEDIA-QUERIS DE PRODUCTOS DE HTML*/
@media screen and (max-width: 1167px) {
  .empanada {
    width: 40%;
    height: 300px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .product__web {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 780px;
    height: 1000px;
    margin-bottom: 20px;
  }
  .algo__mas-cont {
    display: none;
  }
  .empanada__1 {
    width: 100%;
  }
  .empanada:hover {
    box-shadow: none;
  }
  .mcd__container {
    height: 1150px;
  }
  .mcd__container-1 {
    padding-left: 90px;
    height: 1150px;
  }
  .nav__pedi-1 {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1013px) {
  .product__web-h1 {
    text-align: left;
  }
}
@media screen and (max-width: 991px) {
  .nav__bar-1 {
    width: 90%;
  }
  .nav__flex {
    height: 100%;
  }
  .nav__flex li {
    margin: 0;
  }
  .nav__flex li:active {
    text-decoration: underline;
  }
  .margin__1 {
    text-align: right;
    right: 0;
    width: 165px;
  }
}
@media screen and (max-width: 989px) {
  .product__web {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 300px;
    background: none;
    margin-bottom: 40px;
  }
  .product__web-cont {
    background: none;
  }
  .mcd__container-nav {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .product__web-h1 {
    width: 100%;
    height: 46px;
  }
  .nav__pedi {
    width: 100%;
    height: 157px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .nav__pedi-1 {
    width: 100%;
    height: 157px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .empanada {
    width: 145px;
    height: 157px;
  }
  .empanada__1 {
    width: 145px;
    height: 157px;
  }
  .empanada__2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 145px;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    color: #292929;
    font-size: 14px;
    font-weight: 400;
    color: #292929;
  }
  .empanada__2 img {
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
  }
  .mcd__container-1 {
    padding: 0;
  }
  .mcd__container-nav {
    padding-top: 0;
  }
  .product__web-h1 {
    text-align: center;
    font-size: 45px;
    width: 80%;
  }
  .mcd__container-nav {
    margin: auto;
  }
  .category__menu {
    overflow: hidden;
    width: 90%;
    height: 400px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .section__menu {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: none;
    border: none;
  }
  .section__menu-1 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    padding-bottom: 10px;
  }
  .section__menu-2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    height: 161px;
    padding-top: 14px !important;
    width: 145px;
  }
  .img__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 140px;
    height: 150px;
    margin: 0;
    flex-direction: row;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    color: #292929;
  }
  .section__menu-2:active {
    border: none;
  }
  .img__menu:active {
    border: 2px solid #FC2100;
    border-radius: 5px;
  }
  .img__menu img {
    width: 100%;
    height: 85px;
    margin: 0;
  }
  .category__menu-1 {
    display: none;
  }
  .nav__pedi-1 {
    width: 100%;
  }
  .mcd__container {
    height: 1100px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 932px) {
  .nav__pedi-1 {
    width: 80%;
    height: 250px;
  }
  .jamon {
    display: none;
  }
  .category__menu {
    height: 490px;
  }
}
@media screen and (max-width: 910px) {
  .category__menu {
    width: 80%;
    margin-top: 30px;
  }
  .product__web {
    width: 80%;
    padding-right: 70px;
    margin-bottom: 15px;
  }
  .product__web-cont {
    display: none;
  }
}
@media screen and (max-width: 786px) {
  .product__web-h1 {
    width: 80%;
    margin-bottom: 40px;
  }
  .category__menu {
    width: 90%;
  }
  .section__menu {
    width: 90%;
  }
  .section__menu-1 {
    width: 80%;
    padding-right: 50px;
  }
  .mcd__container {
    height: 950px;
  }
}
@media screen and (max-width: 744px) {
  .product__web {
    width: 90%;
    margin: 0 auto;
  }
  .nav__pedi {
    margin-right: 0;
    margin-left: 0;
  }
  .product__web-h1 {
    width: 70%;
    text-align: center;
  }
  .nav__pedi-1 {
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 718px) {
  .product__web-h1 {
    width: 65%;
  }
}
@media screen and (max-width: 660px) {
  .product__web {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 668px) {
  .category__menu {
    width: 80%;
  }
}
@media screen and (max-width: 664px) {
  .product__web {
    width: 80%;
  }
  .product__web-h1 {
    width: 78%;
  }
}
@media screen and (max-width: 620px) {
  .product__web-h1 {
    width: 75%;
  }
}
@media screen and (max-width: 604px) {
  .category__menu {
    padding-right: 60px;
    margin-top: 50px;
  }
  .product__web {
    width: 70%;
    padding-left: 70px;
  }
  .product__web-h1 {
    width: 70%;
  }
}
@media screen and (max-width: 562px) {
  .product__web {
    padding-left: 50px;
  }
  .category__menu {
    width: 72%;
  }
}
@media screen and (max-width: 528px) {
  .product__web-h1 {
    width: 62%;
  }
}
@media screen and (max-width: 512px) {
  .product__web {
    padding-left: 20px;
  }
  .product__web-h1 {
    width: 66%;
  }
  .category__menu {
    padding-right: 75px;
  }
}
@media screen and (max-width: 482px) {
  .product__web-h1 {
    width: 62%;
  }
}
@media screen and (max-width: 470px) {
  .section__menu-1 {
    width: 65%;
    padding-right: 75px;
  }
  .jamon__2 {
    display: none;
  }
  .mcd__container {
    height: 950px;
  }
  .mcd__container-1 {
    height: 950px;
  }
}
@media screen and (max-width: 462px) {
  .product__web {
    width: 57%;
    padding-left: 37px;
  }
  .nav__pedi {
    height: 300px;
    padding-left: 20px;
    margin-top: 20px;
  }
  .product__web-h1 {
    width: 65%;
  }
  .nav__pedi-1 {
    height: 300px;
  }
  .mcd__container {
    height: 1290px;
  }
  .mcd__container-1 {
    height: 1290px;
  }
  .over {
    display: none;
  }
}
@media screen and (max-width: 404px) {
  .product__web-h1 {
    width: 58%;
  }
  .product__web {
    padding-right: 30px;
  }
}
@media screen and (max-width: 378px) {
  .product__web-h1 {
    width: 50%;
  }
}
@media screen and (max-width: 376px) {
  .product__web-h1 {
    width: 60%;
  }
}
@media screen and (max-width: 375px) {
  .nav__pedi {
    padding-left: 1px;
  }
  .product__web-h1 {
    width: 50%;
  }
  .section__menu-1 {
    width: 65%;
    padding-right: 80px;
  }
}
@media screen and (max-width: 418px) {
  .footer__adobe {
    padding: 0;
  }
}
@media screen and (max-width: 318px) {
  .footer__adobe {
    height: 220px;
  }
}
@media screen and (max-width: 533px) {
  .footer__adobe {
    height: 250px;
  }
}
@media screen and (max-width: 1176px) {
  .titulo__h2 {
    width: 60% !important;
  }
}
@media screen and (max-width: 989px) {
  .header__2 {
    display: none;
  }
  .nav {
    display: none;
  }
}
@media screen and (max-width: 1325px) {
  .section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .contenido__1,
.contenido__4 {
    width: 47%;
  }
  .contenido__2,
.contenido__5 {
    width: 30%;
  }
  .contenido__1 img {
    width: 100%;
  }
  .contenido__2 img {
    width: 100%;
  }
  .contenido__3 {
    width: 20%;
  }
  .contenido__3 img {
    width: 100%;
  }
  .contenido__4 img {
    width: 100%;
  }
  .contenido__5 img {
    width: 100%;
  }
  .contenido__6 {
    width: 20%;
  }
  .contenido__1 img {
    width: 100%;
  }
}
@media screen and (max-width: 1062px) {
  .contenido__1 {
    height: 460px;
  }
  .contenido__1 img {
    height: 460px;
    width: 100%;
  }
  .contenido__4 {
    height: 225px;
  }
  .contenido__4 img {
    height: 225px;
  }
}
@media screen and (max-width: 988px) {
  .contenido {
    height: 1800px;
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }
  .contenido__1 {
    width: 66%;
    height: 500px;
  }
  .contenido__1 img {
    width: 100%;
    height: 500px;
  }
  .contenido__2 {
    width: 33%;
    height: 500px;
  }
  .contenido__2 img {
    width: 100%;
    height: 500px;
  }
  .contenido__3 {
    width: 40%;
    height: 850px;
    margin-top: 0;
    margin: 0;
  }
  .contenido__3 img {
    width: 100%;
    height: 850px;
  }
  .contenido__4 {
    width: 59%;
    height: 850px;
    margin-top: 0;
    margin: 0;
  }
  .contenido__4 img {
    width: 100%;
    height: 850px;
  }
  .contenido__5 {
    width: 50%;
    height: 320px;
  }
  .contenido__5 img {
    width: 100%;
    height: 320px;
    margin-top: 0;
  }
  .contenido__6 {
    width: 49%;
    height: 320px;
  }
  .contenido__6 img {
    width: 100%;
    height: 320px;
  }
}
@media screen and (max-width: 956px) {
  .contenido__6 {
    width: 48%;
  }
}
@media screen and (max-width: 899px) {
  .contenido__3 {
    width: 40%;
    height: 700px;
  }
  .contenido__4 img {
    height: 700px;
  }
  .contenido__3 img {
    height: 700px;
  }
  .contenido__4 {
    width: 59%;
    height: 700px;
  }
}
@media screen and (max-width: 797px) {
  .contenido__3 {
    width: 46%;
  }
  .contenido__1 {
    width: 65%;
  }
  .contenido__4 {
    width: 52%;
  }
}
@media screen and (max-width: 719px) {
  .contenido__1 {
    width: 100%;
    height: auto;
  }
  .contenido__1 img {
    height: auto;
  }
  .section {
    width: 99%;
  }
  .contenido__2 {
    width: 99%;
    height: auto;
  }
  .contenido__2 img {
    height: auto;
  }
  .contenido__3 {
    width: 100%;
    height: auto;
  }
  .contenido__3 img {
    height: auto;
    width: 100%;
    margin-left: 10px;
  }
  .contenido__4 {
    width: 100%;
    height: auto;
  }
  .contenido__4 img {
    height: auto;
    width: 100%;
  }
  .contenido__5 {
    width: 100%;
    height: auto;
  }
  .contenido__5 img {
    width: 100%;
    height: auto;
  }
  .contenido__6 {
    width: 100%;
    height: auto;
  }
  .contenido__6 img {
    width: 100%;
    height: auto;
  }
  .contenido {
    height: 4500px;
  }
}
@media screen and (max-width: 575px) {
  .contenido {
    height: 3700px;
  }
}
@media screen and (max-width: 487px) {
  .contenido {
    height: 3200px;
  }
}
@media screen and (max-width: 400px) {
  .contenido {
    height: 2600px;
  }
}
@media screen and (max-width: 251px) {
  .link__rel img {
    width: 80px;
  }
}
@media screen and (min-width: 989px) {
  #nav__responsive-l {
    display: none;
  }
  .nav__responsive-b {
    display: none;
  }
  .nav__bar-responsive {
    display: none;
  }
}
/*FIN DE PRODUCTOS.HTML*/
/*SOBRE-NOSOTROS.HTML*/
.container__2 {
  width: 100%;
  height: 100vh;
}

.header__2 {
  width: 100%;
  height: 100px;
  background-color: #000;
}

.wrap__2 {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo__h1 {
  width: 170px;
  margin-left: 25px;
  z-index: 100;
}

.logo__h1 img {
  width: 170px;
}

.titulo__h2 {
  width: 45%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.titulo__h2 h2 {
  color: #fff;
  width: 100%;
  text-align: center;
  height: 100px;
  font-size: 20px;
  letter-spacing: 4px;
  color: #ccc;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  line-height: 45px;
}

.p__sobre {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #C51813;
  margin-top: -55px;
}

.p__sobre p {
  width: 200px;
  height: 100px;
}

.p__sobre p a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 4px;
  transition: all 300ms;
}

.p__sobre:hover > p > a {
  color: #000;
}

.p__sobre:hover {
  opacity: 0.8;
}

.information {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
  overflow: hidden;
}

.information__articule {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.information__articule p {
  width: 100%;
  font-size: 18px;
  color: #000;
}

.nav__sobre {
  width: 100%;
  height: 60px;
  background-color: #FC2100;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.nav__sobre ul {
  width: 100%;
  height: 60px;
  background-color: #FC2100;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0;
}

.nav__sobre ul li {
  width: auto;
  height: 60px;
  width: 170px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-right: 1px solid #000;
}

.nav__sobre ul li a {
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-shadow: 2px 2px 0 #7a7a7a;
  text-transform: uppercase;
  text-align: center;
}

.nav__sobre ul li a:first-child {
  border-left: 1px solid #000;
}

/*PROMOCIONES.HTML*/
.promos__web {
  width: 100%;
  height: 420.39px;
  margin: 0;
}

.img__col {
  width: 100%;
  height: 420.39px;
}

/*LOCALES.HTML*/
.container__local {
  height: 500px;
  background-color: #F4F4F4;
}

.title__container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.title__sucursales {
  background: #FC2100;
  text-align: center;
  width: 400px;
  height: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 13px;
}

.title__sucursales strong {
  color: #fff;
}

.iframe {
  width: 60%;
  height: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.iframe iframe {
  width: 690px;
  height: 400px;
}

.iframe {
  text-decoration: none;
}

.list__item {
  width: 40%;
}

.listado__local {
  width: 100%;
  height: auto;
}

.listado__local li {
  display: block;
  transition: all 300ms;
  padding: 10px;
  width: 100%;
}

.listado__local-1 {
  margin-bottom: 10px;
}

.listado__local:hover > li {
  cursor: pointer;
}

.listado__local-1:active {
  background-color: #FC2100;
}

.listado__local-1:active > a {
  color: #fff;
}

.listado__local-2:active > a {
  color: #fff;
}

.listado__local-1:active > p {
  color: #fff;
}

.listado__local-2:active > p {
  color: #fff;
}

.listado__local-2:active {
  background-color: #FC2100;
}

.listado__local li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #000;
  display: block;
}

.service {
  font-size: 13px;
  margin-bottom: 12px;
}

@media screen and (max-width: 719px) {
  .iframe {
    flex-direction: column;
    width: 100%;
  }
  .iframe iframe {
    width: 100%;
  }
  .container__local {
    height: 750px;
  }
  .list__item {
    width: 100%;
    padding: 0;
  }
  .listado__local {
    padding: 0;
  }
  .listado__local-1 a {
    text-align: center;
  }
  .listado__local-1 p {
    text-align: center;
  }
  .title__sucursales {
    width: 70%;
  }
  .listado__local-2 a {
    text-align: center;
  }
  .listado__local-2 p {
    text-align: center;
  }
}
@media screen and (max-width: 260px) {
  .title__sucursales {
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 253px) {
  .title__sucursales {
    height: auto;
  }
}
.form__wrap {
  width: 60%;
  margin: 20px auto;
}
@media screen and (max-width: 270px) {
  .form__wrap {
    width: 100%;
  }
}
.form__wrap .contacto__form {
  width: 100%;
}
.form__wrap .contacto__form h2 {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.form__wrap .contacto__form h4 {
  width: 100%;
  text-align: center;
  font-weight: 900;
}

.form__propio:focus {
  box-shadow: 1px 0px 0px 3px rgba(252, 33, 0, 0.75);
}

.button__bg {
  background-color: #FE5000;
  opacity: 0.8;
  border: 1px solid #000;
  transition: all 150ms;
}
.button__bg:hover {
  background-color: #FC2100 !important;
  border: 1px solid #000 !important;
}

/*# sourceMappingURL=style.css.map */
